<%- include('../includes/head.ejs') %>
</head>
<body>
    <%- include('../includes/nav.ejs') %>
    <main>
        <div class="container">
            <div class="row justify-content-center">
                <h1 class="text-center mb-4 mt-4">Login</h1>
                <%if(errorMessage && errorMessage.length > 0) {%>
                    <div class="alert alert-danger" role="alert">
                        <%=errorMessage%>
                    </div>
                <%}%>
                <form class="col-10 col-md-8" action="/login" method="POST">
                    <div class="mb-3">
                        <label for="email">Email</label>
                        <input 
                            name="email" 
                            type="email" 
                            class="form-control" 
                            id="email" placeholder="Email" 
                        >
                    </div>
                    <div class="mb-3">
                        <label for="password">Password</label>
                        <input 
                            name="password" 
                            type="password" 
                            class="form-control" 
                            id="password" 
                            placeholder="Password"
                        >
                    </div>
                    <input type="hidden" name="_csrf" value="<%=csrfToken%>">
                    <button class="btn btn-primary" type="submit">Login</button>
                </form>
            </div>
        </div>
    </main>
    <%- include('../includes/end.ejs') %>