<%- include('../includes/head.ejs') %>
</head>
<body>
    <%- include('../includes/nav.ejs') %>
    <main>
        <div class="container">
            <div class="row justify-content-center">
                <h1 class="text-center mb-4 mt-4">Załóż konto</h1>
                <%if(signupEmailError && signupEmailError.length > 0) {%>
                    <div class="alert alert-danger" role="alert">
                        <%=signupEmailError%>
                    </div>
                <%}%>
                <form class="col-10 col-md-8" action="/signup" method="POST">
                    <div class="mb-3">
                        <label for="username">Nazwa użytkownika</label>
                        <input 
                            name="username" 
                            type="text" 
                            class="form-control" 
                            id="username" placeholder="Nazwa użytkownika"
                            value="<%=userInput.username%>" 
                        >
                    </div>
                    <div class="mb-3">
                        <label for="email">Email</label>
                        <input 
                            name="email" 
                            type="email" 
                            class="form-control" 
                            id="email" placeholder="Email"
                            value="<%=userInput.email%>"
                        >
                    </div>
                    <div class="mb-3">
                        <label for="password">Hasło</label>
                        <input 
                            name="password" 
                            type="password" 
                            class="form-control" 
                            id="password" 
                            placeholder="Hasło"
                            value="<%=userInput.password%>"
                        >
                    </div>
                    <div class="mb-3">
                        <label for="confirmPassword">Potwierdź hasło</label>
                        <input 
                            name="confirmPassword" 
                            type="password" 
                            class="form-control" 
                            id="confirmPassword" 
                            placeholder="Potwierdź hasło"
                        >
                    </div>
                    <div class="d-grid gap-2">
                        <input type="hidden" name="_csrf" value="<%=csrfToken%>">
                        <button class="btn btn-success" type="submit">Zarejestruj się</button>
                    </div>
                </form>
            </div>
        </div>
    </main>
    <%- include('../includes/end.ejs') %>