<%- include('../includes/head.ejs') %>
</head>
<body>
    <%- include('../includes/nav.ejs') %>
    <main>
        <div class="container">
            <div class="row justify-content-center">
                <h1 class="text-center mb-4 mt-4"><%= editing ? 'Edit news' : 'Add new news'%></h1>
                <form class="col-10 col-md-8" action="/admin/<%if(editing) {%>edit-news<%} else {%>add-news<%}%>" method="POST">
                    <div class="mb-3">
                        <label for="title">Title</label>
                        <input 
                            name="title" 
                            type="text" 
                            class="form-control" 
                            id="title" placeholder="Title" 
                            value="<%if(editing) {%><%=newsItem.title%><%}%>"
                        >
                    </div>
                    <div class="mb-3">
                        <label for="imageUrl">Image Url</label>
                        <input 
                            name="imageUrl" 
                            type="text" 
                            class="form-control" 
                            id="imageUrl" 
                            placeholder="Image Url"
                            value="<%if(editing) {%><%=newsItem.imageUrl%><%}%>"
                        >
                    </div>
                    <div class="mb-3">
                        <label for="description">Description</label>
                        <textarea 
                            name="description"
                            class="form-control" 
                            id="description"
                        ><%if(editing) {%><%=newsItem.description%><%}%></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="content">Content</label>
                        <textarea 
                            name="content"
                            class="form-control" 
                            id="content"
                        ><%if(editing) {%><%=newsItem.content%><%}%></textarea>
                    </div>
                    <%if(editing) {%>
                        <input type="hidden" name="newsId" value="<%=newsItem.id%>">
                    <%}%>
                    <button class="btn btn-primary" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </main>
    <%- include('../includes/end.ejs') %>