<%- include('../includes/head.ejs') %>
</head>
<body>
    <%- include('../includes/nav.ejs') %>
    <main>
        <h1>Hello on the admin News List!</h1>
        <% if (news.length > 0) { %>
            <h2>News list</h2>
            <% for (let newsItem of news) { %>
                <div><%= newsItem.title %></div>
                <img src="/<%=newsItem.imageUrl %>" alt="News Image">
                <div><%= newsItem.imageUrl %></div>
                <div><%= newsItem.description %></div>
                <div><%= newsItem.content %></div>
                <div>
                    <button><a href="/admin/edit-news/<%=newsItem._id%>?edit=true">Edit</a></button>
                    <form action="/admin/delete-news" method="POST">
                        <input type="hidden" name="_csrf" value="<%=csrfToken%>">
                        <input type="hidden" name="newsId" value="<%=newsItem._id%>">
                        <button type="submit">Delete</button>
                    </form>
                </div>
            <% } %>
        <% } else { %>
            <h2>There are not any news.</h2>
        <% } %>
    </main>
    <%- include('../includes/end.ejs') %>