<%- include('../includes/head.ejs') %>
</head>
<body>
    <%- include('../includes/nav.ejs') %>
    <main>
        <h1 class="text-center mb-3 mt-3">Admin News List!</h1>
        <% if (news.length > 0) { %>
            <div class="container">
                <div class="row">
            <% for (let newsItem of news) { %>
                        <div class="col-xs-12 col-sm-4 col-md-3">
                            <div class="card mb-3">
                                <img src="/<%=newsItem.imageUrl %>" class="card-img-top" alt="News Image">
                                <div class="card-body">
                                  <h5 class="card-title"><%= newsItem.title %></h5>
                                  <p class="card-text"><%= newsItem.description %></p>
                                    <form action="/admin/delete-news" method="POST" class="d-grid gap-2">
                                        <input type="hidden" name="_csrf" value="<%=csrfToken%>">
                                        <input type="hidden" name="newsId" value="<%=newsItem._id%>">
                                        <button type="submit" class="btn btn-danger">Delete</button>
                                        <a href="/admin/edit-news/<%=newsItem._id%>?edit=true" class="btn btn-primary">Edit</a>
                                    </form>
                                </div>
                              </div>
                        </div>
            <% } %>
            </div>
        </div>
        <% } else { %>
            <h2><%=translation.NO_NEWS%></h2>
            <%if(isAuth && isAdminMod) {%>
                <a class="btn btn-primary" role="button" href="/admin/add-news">
                    <%=translation.NAV.ADD_NEWS%>
                </a>
            <%}%>
        <% } %>
    </main>
    <%- include('../includes/end.ejs') %>