<header class="main-header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Fc Barcelona</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link <%= path === '/' ? 'active' : '' %>" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link <%= path === '/news-list' ? 'active' : '' %>" href="/news-list">News list</a>
              </li>
              <%if(isAuth) {%>
              <li class="nav-item">
                <a class="nav-link <%= path === '/admin/add-news' ? 'active' : '' %>" href="/admin/add-news">Add news</a>
              </li>
              <li class="nav-item">
                <a class="nav-link <%= path === '/admin/news-list' ? 'active' : '' %>" href="/admin/news-list">Admin news</a>
              </li>
              <li class="nav-item">
                <a class="nav-link <%= path === '/user/favourite-news-list' ? 'active' : '' %>" href="/user/favourite-news-list">User favourite news</a>
              </li>
              <%}%>
              <li class="nav-item">
                <a class="nav-link <%= path === '/login' ? 'active' : '' %>" href="/login">Login</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
</header>