<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/home/home.css">
</head>
<body>
    <%- include('../includes/nav.ejs') %>
    <main>
        <div class="container home">
            <% if (news.length > 0) { %>
            <div class="row">
                <div class="col-xs-12 nopadding col-lg-8">
                    <a href="/news-list/<%=news[0]._id%>">
                        <div class="main-news news">
                            <img src="<%=news[0].imageUrl%>" class="img-fluid" alt="News Image">
                            <div class="mask">
                                <div class="content position-absolute top-50 start-50 translate-middle">
                                    <h3><%=news[0].title%></h3>
                                    <h4><%=news[0].description%></h4>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 user-box align-items-end bg-dark pb-4 d-none d-lg-flex">
                    <div class="container text-light user-box-content">
                        <img src="/img/fcb_logo.png" class="img-fluid logo-img" alt="fcb-logo">
                        <%if(!isAuth) {%>
                            <form class="" action="/login" method="POST">
                                <div class="mb-3">
                                    <label for="email"><%=translation.E_MAIL%></label>
                                    <input 
                                        name="email" 
                                        type="email" 
                                        class="form-control form-control-sm" 
                                        id="email" placeholder="<%=translation.E_MAIL%>" 
                                    >
                                </div>
                                <div class="mb-3">
                                    <label for="password"><%=translation.PASSWORD%></label>
                                    <input 
                                        name="password" 
                                        type="password" 
                                        class="form-control form-control-sm" 
                                        id="password" 
                                        placeholder="<%=translation.PASSWORD%>"
                                    >
                                </div>
                                <div class="d-grid gap-2">
                                    <input type="hidden" name="_csrf" value="<%=csrfToken%>">
                                    <button class="btn btn-outline-success btn-sm" type="submit"><%=translation.SIGN_IN%></button>
                                </div>
                            </form>
                            <p class="mt-2 text-center"><strong><%=translation.MESSAGES.DONT_HAVE_ACCOUNT%></strong></p>
                            <div class="d-grid gap-2">
                                <a class="btn btn-outline-success btn-sm" href="/signup" role="button"><%=translation.NAV.JOIN_US%></a>
                            </div>
                        <%} else {%>
                            <div>
                                <h3 class="text-center mb-4"><%=translation.WELCOME_TEXT%></h3>
                                <div class="card mx-auto bg-dark border-light d-flex flex-row" style="width: 12rem;">
                                    <img src="/img/avatar-default.png" class="card-img-top" style="width: 35%;" alt="user-avatar">
                                    <div class="card-body">
                                        <p class="card-text text-center"><span class="fw-bold">
                                            <%=user.username%> </span> 
                                        </p>
                                    </div>
                                </div>
                            </div>
                        <%}%>
                    </div>
                </div>
            </div>
            <div class="row">
                    <% for (let newsItem of news) { %>
                        <div class="col-6 col-md-4 nopadding">
                            <a href="/news-list/<%=newsItem._id%>">
                                <div class="news">
                                    <img src="<%=newsItem.imageUrl%>" class="img-fluid" alt="News Image">    
                                    <div class="mask">
                                        <div class="content position-absolute top-50 start-50 translate-middle">
                                            <h5><%=newsItem.title%></h4>
                                            <h6><%=newsItem.description%></h5>
                                        </div>
                                    </div>
                                </div>
                            </a>    
                        </div>
                    <% } %>
            </div>
            <% } else { %>
                <h2><%=translation.NO_NEWS%></h2>
                <%if(isAuth && isAdminMod) {%>
                    <a class="btn btn-primary" role="button" href="/admin/add-news">
                        <%=translation.NAV.ADD_NEWS%>
                    </a>
                <%}%>
            <% } %>
        </div>
    </main>
    <%- include('../includes/end.ejs') %>
