<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/news/news.css">
</head>
<body>
    <%- include('../includes/nav.ejs') %>
    <main>
        <div class="card">
            <img src="/<%= newsItem.imageUrl %>" class="card-img-top" alt="News Image">
            <div class="card-body">
              <h5 class="card-title"><%= newsItem.title %></h5>
              <h6 class="card-subtitle mb-2 text-muted"><%= newsItem.description %></h6>
              <p class="card-text"><%- newsItem.content %></p>
              <%if(isAuth) {%>    
                <form action="/favouriteNewsList" method="post">
                    <input type="hidden" name="_csrf" value="<%=csrfToken%>">
                    <button type="submit" class="btn btn-primary">Dodaj do ulubionych</button>
                    <input type="hidden" name="newsId" value="<%=newsItem._id%>">
                </form>
            <%}%>
            </div>
        </div> 
        <nav class="navbar navbar-dark bg-dark">
            <div class="container-fluid">
              <h4><span class="navbar-brand mb-0 h1">
                Comments</span></h4>
            </div>
        </nav>
        <div class="container position-relative pt-3 pb-3">
            <%if(isAuth) {%>
                <form class="col-10 col-md-8 m-auto" action="/add-comment" method="POST">
                    <div class="mb-3">
                        <label for="comment">Komentarz</label>
                        <textarea 
                            name="commentBody"
                            class="form-control" 
                            id="comment"
                        ></textarea>
                    </div>
                    <input type="hidden" name="newsId" value="<%=newsItem._id%>">
                    <input type="hidden" name="_csrf" value="<%=csrfToken%>">
                    <button class="btn btn-primary" type="submit">Dodaj</button>
                </form>
            <%}%>
            <%if(comments && comments.length >= 1) {%>
                <div class="comments mt-3">
                    <% for (let comment of comments) { %>
                        <div class="card m-auto mb-2">
                            <div class="card-header bg-dark text-white d-flex align-items-center">
                                <div>
                                    <%=comment.author%> || <%= JSON.stringify(new Date(comment.createdAt).toLocaleString()).slice(1,21) %>
                                </div>
                                <%if(isAuth) {%>
                                    <div>  
                                        <form action="/favouriteCommentsList" method="post">
                                            <input type="hidden" name="_csrf" value="<%=csrfToken%>">
                                            <% let isLiked = comment.likedBy.includes(userId) ? "liked" : "" %>
                                            <button type="submit" class="btn btn-sm favourite-btn <%= isLiked ? 'liked' : '' %>"><i class="bi bi-heart-fill"></i></button>
                                            <input type="hidden" name="commentId" value="<%=comment._id%>">
                                            <input type="hidden" name="newsId" value="<%=newsItem._id%>">
                                        </form>
                                    </div>
                                    <div class="flex-grow-1 d-flex justify-content-end">
                                        <% let wasRated = comment.ratedBy.includes(userId) ? "rated" : "" %>
                                        <form action="/addCommentPoint" method="post">
                                            <input type="hidden" name="_csrf" value="<%=csrfToken%>">
                                            <button type="submit" class="btn btn-sm favourite-btn <%= wasRated ? 'liked' : '' %>" ><i class="bi bi-plus-square-fill"></i></button>
                                            <input type="hidden" name="commentId" value="<%=comment._id%>">
                                            <input type="hidden" name="newsId" value="<%=newsItem._id%>">
                                        </form>
                                        <span class="badge bg-light text-dark d-flex align-items-center"><%=comment.points%></span>
                                        <form action="/subtractCommentPoint" method="post">
                                            <input type="hidden" name="_csrf" value="<%=csrfToken%>">
                                            <button type="submit" class="btn btn-sm favourite-btn <%= wasRated ? 'liked' : '' %>"><i class="bi bi-dash-square-fill"></i></button>
                                            <input type="hidden" name="commentId" value="<%=comment._id%>">
                                            <input type="hidden" name="newsId" value="<%=newsItem._id%>">
                                        </form>
                                    </div>
                                <%}%>
                            </div>
                            <div class="card-body">
                              <blockquote class="blockquote mb-0">
                                <p><%=comment.commentBody%></p>
                              </blockquote>
                            </div>
                          </div>
                    <%}%>  
                </div>
            <%}%>
        </div>               
    </main>
    <%- include('../includes/end.ejs') %>