<%- include('../includes/head.ejs') %>
</head>
<body>
    <%- include('../includes/nav.ejs') %>
    <main>
        <h1 class="text-center mb-3 mt-3"><%=translation.NEWS_LIST%></h1>
        <div class="container news-list">
            <div class="row">
                <% if (news.length > 0) { %>
                    <% for (let newsItem of news) { %>
                        <div class="col-6 col-md-4 nopadding item-box">
                            <a href="/news-list/<%=newsItem._id%>" class="item-box--link">
                                <div class="news">
                                    <img src="<%=newsItem.imageUrl%>" class="img-fluid" alt="News Image">    
                                    <div class="mask">
                                        <div class="content position-absolute top-50 start-50 translate-middle">
                                            <h5><%=newsItem.title%></h4>
                                            <h6><%=newsItem.description%></h5>
                                        </div>
                                    </div>
                                </div>
                            </a>    
                        </div>
                    <% } %>
                <% } else { %>
                    <h2><%=translation.NO_NEWS%></h2>
                    <%if(isAuth && isAdminMod) {%>
                        <a class="btn btn-primary" role="button" href="/admin/add-news">
                            <%=translation.NAV.ADD_NEWS%>
                        </a>
                    <%}%>
                <% } %>
            </div>
        </div>
    </main>
    <%- include('../includes/end.ejs') %>