<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/user/user.css">
</head>
<body>
    <%- include('../includes/nav.ejs') %>
    <main>
        <div class="container p-4 user-profile">
           <h2 class="text-center mb-5 mt-4">
            <%=translation.USER_PROFILE%>: <%=user.username%>
            </h1>
           <div class="row">
            <div class="nav flex-column nav-pills col-md-2 p-0" id="v-pills-tab" role="tablist" aria-orientation="vertical">
              <a class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">
                <%=translation.DATA%>
              </a>
              <a class="nav-link" id="v-pills-comments-tab" data-bs-toggle="pill" href="#v-pills-comments" role="tab" aria-controls="v-pills-comments" aria-selected="false">
                <%=translation.COMMENTS%>
              </a>
              <a class="nav-link" id="v-pills-liked-tab" data-bs-toggle="pill" href="#v-pills-liked" role="tab" aria-controls="v-pills-liked" aria-selected="false">
                <%=translation.LIKED%>
              </a>
              <a class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">
                <%=translation.SETTINGS%>
              </a>
            </div>
            <div class="tab-content col-md-10" id="v-pills-tabContent">
              <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                <div class="card user-card">
                  <img src="/img/avatar-default.png" class="card-img-top" alt="user-avatar">
                  <div class="card-body">
                    <p class="card-text"><span class="fw-bold">
                      <%=translation.USERNAME%>: </span> <%=user.username%>
                    </p>
                    <p class="card-text"><span class="fw-bold">
                      <%=translation.E_MAIL_ADRESS%>: </span> <%=user.email%>
                    </p>
                    <p class="card-text"> <span class="fw-bold">
                      <%=translation.USER_ROLE%>: </span> <%=user.role%>
                    </p>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="v-pills-comments" role="tabpanel" aria-labelledby="v-pills-comments-tab">
                <%if(comments && comments.length >= 1) {%>
                  <div class="comments mt-3">
                      <% for (let comment of comments) { %>
                          <div class="card m-auto mb-2 comment-box">
                              <div class="card-header bg-dark text-white d-flex align-items-center">
                                  <div>
                                      <%=comment.author%> || <%= JSON.stringify(new Date(comment.createdAt).toLocaleString()).slice(1,21) %>
                                  </div>
                                  <div class="flex-grow-1 d-flex justify-content-end">
                                    <span class="badge bg-light text-dark d-flex align-items-center"><%=comment.points%></span>
                                  </div>
                              </div>
                              <div class="card-body">
                                <blockquote class="blockquote mb-0">
                                  <p><%=comment.commentBody%></p>
                                </blockquote>
                              </div>
                            </div>
                      <%}%>  
                  </div>
                  <%} else {%>
                    <h2 class="text-center mb-5 mt-4"><%=translation.MESSAGES.DID_NOT_ADD_COMMENT_YET%></h2>
                  <% } %>
              </div>
              <div class="tab-pane fade" id="v-pills-liked" role="tabpanel" aria-labelledby="v-pills-liked-tab">
                <%if(user.favouriteComments && user.favouriteComments.length >= 1) {%>
                  <div class="comments mt-3">
                      <% for (let comment of user.favouriteComments) { %>
                          <div class="card m-auto mb-2 comment-box">
                              <div class="card-header bg-dark text-white d-flex align-items-center justify-content-between">
                                  <div>
                                      <%=comment.author%> || <%= JSON.stringify(new Date(comment.createdAt).toLocaleString()).slice(1,21) %>
                                  </div>
                                  <div>
                                    <form action="/delete-favourite-comment" method="POST" class="d-grid gap-2">
                                      <input type="hidden" name="_csrf" value="<%=csrfToken%>">
                                      <input type="hidden" name="commentId" value="<%=comment._id%>">
                                      <button type="submit" class="btn btn-sm btn-danger" data-bs-toggle="tooltip" data-bs-placement="top" title="Tooltip on top">
                                        <i class="bi bi-trash"></i>
                                      </button>
                                  </form>    
                                  </div>
                                  <div class="flex-grow-1 d-flex justify-content-end">
                                    <span class="badge bg-light text-dark d-flex align-items-center"><%=comment.points%></span>
                                  </div>
                              </div>
                              <div class="card-body">
                                <blockquote class="blockquote mb-0">
                                  <p><%=comment.commentBody%></p>
                                </blockquote>
                              </div>
                            </div>
                      <%}%>  
                  </div>
                <%} else {%>
                  <h2 class="text-center mb-5 mt-4"><%=translation.MESSAGES.HAVE_NOT_LIKE_COMMENT_YET%></h2>
                <% } %>
              </div>
              <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                <h2 class="text-center mb-3 mt-4"><%=translation.MESSAGES.CHANGE_SYSTEM_LANGUAGE%></h2>
                <div class="list-group">
                  <a href="/?clang=pl" class="card mb-3 list-group-item list-group-item-action <%=(lang=="pl"?"active":"")%>" aria-current="true">
                      <div class="row g-0">
                        <div class="col-md-4">
                          <img alt="Poland"
                          src="http://purecatamphetamine.github.io/country-flag-icons/3x2/PL.svg"/>
                        </div>
                        <div class="col-md-8">
                          <div class="card-body">
                            <h5 class="card-title"><%=translation.LANGUAGES.POLISH%></h5>
                          </div>
                        </div>
                      </div>
                  </a>
                  <a href="/?clang=en" class="card mb-3 list-group-item list-group-item-action <%=(lang=="en"?"active":"")%>">
                      <div class="row g-0">
                        <div class="col-md-4">
                          <img alt="England"
                          src="http://purecatamphetamine.github.io/country-flag-icons/3x2/GB.svg"/>
                        </div>
                        <div class="col-md-8">
                          <div class="card-body">
                            <h5 class="card-title"><%=translation.LANGUAGES.ENGLISH%></h5>
                          </div>
                        </div>
                      </div>
                  </a>
                </div>
              </div>
            </div>
          </div>   
        </div>
    </main>
    <%- include('../includes/end.ejs') %>
